<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/style.css" />
<script type="text/javascript" src="/static/js/classify.js" ></script>
<title>花卉识别</title>
</head>
<body class="bc">
<div class="main1">
<div class="main">
	<div class="title">
		<strong><p><font color=black size="6px">基于深度学习的植物花卉图像分类</font></p></strong>
	</div>
	<div class="select" style="text-align:center">
		<form action="/info/" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
			<input type="file" class="xfile" id="btn_file" name="pic1"/>
			<br /><br /><br />
			<button type="button" onclick="F_Open_dialog()" class="xxfile" style="display:block;margin:0 auto">选择图片</button>
			<br /><br /><br />
			<input type="submit" class="xxsub" style="display:block;margin:0 auto" value="识别花卉"/>
		</form>
	</div>

</div>
</div>
</body>
</html>
